body {
    margin: 0;
    font-family: sans-serif;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}


.center {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    margin: auto;
    color: #4a4a4a;
    font-family: sans-serif;
    background-color: white;
}
.academics{ display:table; margin:0 auto;}

.background {
  background: url(https://www.google.co.in/imgres?imgurl=http%3A%2F%2Fwallpaperswide.com%2Fdownload%2Fdiffuse-wallpaper-2048x1152.jpg&imgrefurl=http%3A%2F%2Fwallpaperswide.com%2Fdiffuse-wallpapers.html&docid=xBuT1Is9Y5a-ZM&tbnid=GvYDJ8c0iwNU5M%3A&vet=1&w=2048&h=1152&bih=672&biw=1366&ved=0ahUKEwjHsbXq5L7QAhXJtY8KHS32DysQMwgcKAAwAA&iact=mrc&uact=8) repeat;
  border: 2px solid black;
}


transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}