body {
    font-family: sans-serif;
    background: #F6F4F1;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 5s infinite;
}

@-webkit-keyframes mymove {
    50% {background-color: #7EEEF8;}
}

@keyframes mymove {
    50% {background-color: #7EEEF8;}
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    max-width: 800px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 150px;
    margin-right: 150px;
    color: #4a4a4a;
    font-family: sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    border: 10px solid #B1D983;
    background-color: white;
}
