body {
    margin: 0;
    font-family: sans-serif;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}


.center {
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
    margin: auto;
    color: #4a4a4a;
    font-family: sans-serif;
    background-color: white;
}
ul.academics{ display:table; margin:0 auto;}


h4 {text-align:center;}

.comment {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.commenter {
    font-style: italic;
    font-size: 0.8em;
}

#comment_form {
    margin-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.imadthanks {
    background: #f0f0f0;
    border: 1px solid #aaa;
    margin-bottom: 20px;
    border-radius: 3px;
    max-width: 900px;
    padding: 10px 20px;
    margin-left: 40px;
    margin-right: 40px;
}